@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}

.animate-slide:hover {
  animation-play-state: paused;
}

.carouselImage {
  min-height: 30px !important;
  max-height: 60px !important;
  min-width: 90px !important;
  max-width: 140px !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
